@import url('https://fonts.googleapis.com/css2?family=Sunflower:wght@500&display=swap');

.App {
  text-align: center;
  font-family: 'Sunflower', sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  display: block;
}

button {
  font-family: 'Sunflower', sans-serif;
  background-color: #FFF;
  margin: 5px;

  font-size: 15px;
  height: 30px;
  width: 250px;
}

.footer_developer {
  font-family: 'Sunflower', sans-serif;
}